# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
models/*.h5
models/*.keras
models/*.pt
models/*.pth

# Dataset
dataset/
data/

# Environment variables
.env
