# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Dataset
dataset/
data/

# Large model files
models/*.h5
models/*.keras
models/*.pt
models/*.pth
models/*.onnx

# TensorBoard
logs/
